*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

:root {
  --color-428: #ff6428;
  --color-white: #fff;
}

html,
body {
  height: 100%;
  min-width: 320px;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.menu__lists {
  display: flex;
  flex-wrap: wrap;
  column-gap: 56px;
}

.menu__link {
  color: rgba(18, 18, 18, 0.4);
  font-size: 16px;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 135px;
  margin-top: 62px;
}

/* Main Styles */

.main__container {
  display: flex;
}
.main__content {
  padding-top: 200px;
  max-width: 470px;
  margin-right: 179px;
}

.main__title {
  font-size: 56px;
  color: #121212;
}

.main__title span {
  color: var(--color-428);
}

.main__title:not(:last-child) {
  margin-bottom: 16px;
}

.main__text {
  font-size: 16px;
  color: #666;
}

.main__text:not(:last-child) {
  margin-bottom: 33px;
}

.main__actions_button {
  background: var(--color-428);
  color: var(--color-white);
  padding: 18px 48px;
  border-radius: 40px;
  font-size: 16px;
}

.main__image {
  position: relative;
  max-width: 672px;
  margin-right: -120px;
  padding-bottom: 97%;
}

.main__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.main__decor {
  flex: 0 1 50%;
}

.main__image::after {
  content: "";
  background: url("../img/main/decor.svg") 0 0 no-repeat;
  height: 80px;
  width: 80px;
  position: absolute;
  bottom: 0;
  right: 36%;
  transform: translate(0, 50%);
}
